Babel==2.3.4
colorlog==2.7.0
configparser==3.5.0
debtcollector==1.7.0
decorator==4.0.10
enum34==1.1.6
eventlet==0.19.0
flake8==3.0.3
flake8-double-quotes==0.0.1
flake8-import-order==0.9.1
funcsigs==1.0.2
greenlet==0.4.10
mccabe==0.5.2
msgpack-python==0.4.8
netaddr==0.7.18
networkx==1.11
oslo.config==3.14.0
oslo.i18n==3.8.0
pbr==1.10.0
pep8==1.7.0
pep8-naming==0.4.1
pycodestyle==2.0.0
pyflakes==1.2.3
pytz==2016.6.1
PyYAML==3.11
repoze.lru==0.6
rfc3986==0.3.1
Routes==2.3.1
ryu==4.5
six==1.10.0
stevedore==1.17.0
WebOb==1.6.1
wrapt==1.10.8
